<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">My Offers</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav"></div>
  </div>
</nav>

<!-- Sub Navbar -->
<div class="col-xs-12 sub-nav-bar bg-light">
  <p class="subNav mb-0">ICICI Bank Rubyx Visa Credit Card</p>
</div>
